#map {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;overflow-y: hidden;
}
#description {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    width: 450px;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

.container {
    position: absolute;
    top: 200px;
    right: 10px;
    max-width: 450px;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    overflow-y: scroll;
    max-height: 500px;
}

.table-responsive {
    max-width: 450px;
    overflow: hidden;
}

.table {
    margin-bottom: 0;
    position: relative;
}

tbody {
    background-color: #fff;
}

.table > tbody > tr > td,
.table > thead > tr > th {
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    height: 80px;
    width: 110px;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
}

thead {
    color: #fff;
    background-color: #4d90fe;
    font-size: 16px;
    font-weight: 500;
}

.weather-icon {
    width: 50px;
    height: 50px;
}
